<!DOCTYPE html>
<html>

<head>
  <title>
    caption
  </title>
  {% load static %}

  <link rel="styleSheet" href="{% static 'capdemo/style.css'%}" type="text/css">
</head>

<body>
  <h2>File Upload & Image Preview</h2>
  <p class="lead">No Plugins <b>Just Javascript</b></p>

  <!-- Upload  -->
  <form id="file-upload-form" class="uploader" action="{% url 'capdemo:results' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />

    <label for="file-upload" id="file-drag">
      <img id="file-image" src="#" alt="Preview" class="hidden">
      <div id="start">
        <i class="fa fa-download" aria-hidden="true"></i>
        <div>点击这里选择图片</div>
        <div id="notimage" class="hidden">Please select an image</div>
        <span id="file-upload-btn" class="btn btn-primary">选择图片</span>
      </div>
      <div id="response" class="hidden">
        <div id="messages"></div>
        <progress class="progress" id="file-progress" value="0">
          <span>0</span>%
        </progress>
      </div>
    </label>
    <input type="submit" class="btn btn-primary" value="提交" />
  </form>

</body>

<script src="{% static 'capdemo/script.js' %}"></script>
</html>
